#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  }
  body{
  background-color: #99e9f9;
  min-width: 320px;
  min-height: 100vh;
  }
  .container h1{
  color: blue;
  font-size: 70px;
  font-weight: 800px;
  }
  .container a{
  color: white;
  }
  form{
  background-color:white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px
  6px 2px;
  height: 380px;
  width: 400px;
  padding: 25px;
  text-align: center;
  color: white;
  font-size: 25px;
  }
  #b1{
  width: 200px;
  background-color: rgb(24, 180, 94);
  }
  .btn{
  width: 350px;
  }